body{
    background-image: url(https://cdn.britannica.com/84/73184-050-05ED59CB/Sunflower-field-Fargo-North-Dakota.jpg);
}
.pamatalaukums{
    background-color: blueviolet;
    width: 500px;
    height: 500px;
    border: 2px solid rgb(39, 6, 6);
    padding: 10px;
    margin:auto ;
}
.cataZina{
    background-color: cadetblue;
    height: 450px;
    height: 450px;
    padding: 10px;
    overflow: scroll;
    color: rgb(128, 9, 32);

}